@import "tailwindcss";

@theme {
  --font-sans:
    "Noto Sans SC", ui-sans-serif, system-ui, -apple-system, sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #09090b;
  color: #fafafa;
  font-family: var(--font-sans);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
